/*Base CSS/HTML by eggramen!  https://eggramen.neocities.org/*/

@font-face {
    font-family: 'Bona Nova';
    src: url('fonts/basiic.tff')
}
body {
    font-family: "Bona Nova";
    margin: 0;
    font-size: 16px;
    background-color: #f2f9fa;
    background-size: 25%;
	background-attachment: fixed;
	background-image: url("images/misc/rainbowbglight.png")
}

center {
  text-align: center;
}
ul {
	list-style-image: url("/images/pixels/bun.png");
}
.wrapper {
	width: 1450px;
	margin: 0 auto;
}

/*Contains main and sidebar divs*/
.wrapper-2 {
	position: relative;
}
.wrapper a {
    color: #e0418e;
    font-weight: bold;
}
.wrapper-2 a {
    color: #e0418e;
    font-weight: bold;
}
.header {
	width: 1450px;
    background-color: none;
    height: 100px;
    background-image: url(/images/misc/header.png);
    background-size: 100%;
	text-align: center;
}
.header img {
	margin: 0 auto;
    display: inline-block;
}
footer {
    width: 100%;
    height: 15px;
    padding: 10px;
    text-align: center;
	border: 2px dashed #e0418e;
	border-radius: 25px;
	color: #e0418e;
	background: #ffffff;
}

img.icon-link {
    transition: transform 200ms ease-in-out;
}
img.icon-link:hover {
    transform: rotate(15deg);
}
img.preview-pic {
    transition: transform 200ms ease-in-out;
}
img.preview-pic:hover {
    transform: scale(1.5);
    position: relative;
    z-index: 1;
}

#flex {
    display: flex;
	margin-top: -10px;
	margin-bottom: -10px;
}
.main, .sidebar-right {
	display: inline-block;
}
.sidebar-left, .sidebar-right {
	width: 250px;
	position: absolute;
	top: 0;
}
.sidebar-left {
	margin-left: 10px;
} 
.main {
	margin-left: 270px;
	width: 710px;
}
.sidebar-right {
  margin-right: 10px;
  margin-left: 10px;
}

/* This was empty for some reason...
.inner {
} */

  
/*Box used for individual sections in the sidebar, center column, etc.*/
.box {  
  padding: 20px;
  color: #e0418e;
  border: 2px dashed #e0418e;
  margin: 10px 0px 10px 0px;
  border-radius: 25px; /*How round the boxes corners are.*/
  background: #ffffff;
}
.titles{ /* I don't really use this at all.*/
	padding: 5px;
    border: 2px dashed #e0418e;
    color: #e0418e;
	text-align: center;
	background: #ffffff;
    background-size: 30%;
	border-radius: 25px;
}



/* Things for the Randomizer Container and the Carousel Container ------------------------------------------------ */
/* Things for the Randomizer Container and the Carousel Container ------------------------------------------------ */
/* Things for the Randomizer Container and the Carousel Container ------------------------------------------------ */


/* Slideshow containers */
.slideshow-container {
    max-width: 550px;
    width: 550px;
    position: relative;
    margin: auto;
}

.random-pic-container{
    max-width: 400px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */
.mySlides {
    display: none;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: DimGray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    border-radius: 3px 0 0 3px;
    right:0;
}
.prev {
    left:-50px;
}
  
/* Random Button */
.rand {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    padding: 16px;
    color: DimGray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 0 0 3px;
    user-select: none;
}
  
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .rand:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Number text (1/8 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left:-50px;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
